[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setuptools = "*"
langchain = "*"
langchain-core = "*"
langchain-ollama = "*"
langchain-community = "*"
wikipedia = "*"
arxiv = "*"
chromadb = "*"
langchainhub = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.1"
